@keyframes show-container {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@keyframes hide-container {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
.popup__overlay {
  width: 100%;

}
.popup {
  display: grid;
  grid-template-rows: 56px auto 48px;
  grid-auto-flow: row;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  width: 480px;
  height: 100%;
  background: var(--white);
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.15), 0 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation-duration: 450ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.popup__close {
  padding: 0;
}
.popup__form {
  padding: 22px 16px;
}
.popup__input {
  margin-bottom: 24px;
}
.popup__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  background: var(--white-blue);
}
.popup__sum {
  margin-bottom: 24px;
}
.popup_opened {
  animation-name: show-container;
}
.popup_hidden {
  animation-name: hide-container;
  animation-duration: 450ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.popup__error {
  color: var(--red);
  margin: 0 16px 0 0;
}
