.main {
  width: 100%;
  height: 100vh;
  padding: 32px 48px 0 48px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
}
.main__table {
  margin-top: 32px;
  max-height: 440px;
  position: relative;
  overflow: auto;
}
