.table {
  width: 100%;
  border-collapse: collapse;
}
.table__header {
  background: var(--blue);
  color: var(--white);
}
.table__item {
  text-align: left;
  padding: 12px 8px;
  font-weight: normal;
}
.table__th {
  display: flex;
  align-items: center;
}
.table__icon {
  margin-left: 9px;
}
.table__tr {
  border-bottom: 1px solid var(--white-blue);
}
.table__checkbox {
  padding: 0 2px 0 10px;
  margin: 0;
}
.table__item_pointer {
  cursor: pointer;
}
.table__thead {
  position: sticky;
  z-index: 10;
  top: 0;
}
.table__thead_select {
  background: rgba(0, 0, 0, 0.15);
}
